*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
/* COMMONS  */
.verde{
    background-color: green;
}
.rosso{
    background-color: red;
}
.font-rosso{
    color: red;
}
.bold{
    font-weight: bold;
}
.none{
    display: none;
}
/* FINE COMMONS  */

main{
    width: 1000px;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
}
.row::after{
    content: '';
    display: table;
    clear: both;
}
.cointaner{
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
}
/* blocco immagine  */
.cointaner .box-image{
    position: relative;
}
.cointaner .box-image img{
    width: 100%;
}
.cointaner:hover .show{
    display: none;
}
.cointaner:hover .none{
    display: block;
    cursor: pointer;
}
.cointaner .box-image .blocchi{
    position: absolute;
    bottom: 3%;
    color: white;
}
.cointaner .box-image .cuore{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 32px;
}
.blocchi .blocco{
    display: inline-block;
    line-height: 20px;
    padding: 5px;
}

/* fine blocco immagine  */
/* inizio blocco testo  */
.cointaner .text{
    padding: 5px;
    height: 83px;
}

.text .brand{
    font-size: 18px;
    font-style: italic;
}
.text .descrizione{
    text-transform: uppercase;
    font-size: 18px;
    margin: 5px 0;
}
.text.txtverdino{
    background-color: #64A03F;
    margin-top: 0;
    padding: 10px;
}
/* fine blocco testo  */

