*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

main{
    width: 1000px;
    height: 800px;
    margin: auto;
    background-color: red;
}
.cointaner .box-image{
    width: calc(100% / 3);
    position: relative;
}
.cointaner .box-image img{
    width: 100%;
}
.cointaner .box-image .blocchi{
    position: absolute;
    bottom: 3%;
}
.cointaner .box-image .cuore{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 32px;
}
.blocchi .blocco{
    display: inline-block;
    line-height: 20px;
    padding: 5px;

}
.blocchi .blocco.rosso{
    background-color: tomato;
}
.blocchi .blocco.verde{
    background-color: green;
}

